
/* MENU DO HEADER */

.cabeca{
    background-color:#161c2c;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;

    /* alinhar largura e altura com a grid principal */
}


.carro{
    height: 8vh;
    padding-right: 32px;
    padding-top: 8px;
}

.dropbtn-inside{
    background-color:#161c2c;
    color: whitesmoke;
    font-family: 'Barlow Condensed', sans-serif;
    src: url(BARLOWCONDENSED-LIGHT.ttf);
    font-weight:lighter;
    border: none;
    height: 10vh;
    padding: 10px 30px;
    font-size: 1.5em;
    /* alinhar largura e altura com a grid principal */
}

.dropdown-inside:hover 
.dropbtn-inside{
    background-color: #eacf86;
}

.dropdown-content-inside{
    display: none;
    position: absolute;
    background-color: #eacf86;
    font-family: 'Barlow Condensed', sans-serif;
    src: url(BARLOWCONDENSED-LIGHT.ttf);
    font-weight:lighter;
}

.dropdown-inside{
    position: relative;
    display: inline-block;
}

.dropdown-content-inside a{
    color: whitesmoke;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
}

.dropdown-content-inside a:hover{
    background-color:#161c2c;
    color: whitesmoke;
}

.dropdown-inside:hover 
.dropdown-content-inside{
    display: block;
}


.img-carrinho {
    height: 2rem;
}

.logo-menu {
    width: 4.5em;
    margin: 0.3em;
}

.menu-desktop {
    display: flex;
    list-style-type: none;
    padding: 2em;
}

.menu-desktop >li {
    margin: 0 2.1em;
    color: white;
}


/* CONFIGURAÇÕES GERAIS */

* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
   
}

/* ------------------------------------- DIV DOIS */

.produtos {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    display:flex;
    /* background-color: tomato; */
}


.img1, .img2, .img3 {
    margin: 2em;
    box-shadow: 0.5rem 0.5rem 1.2rem rgb(161, 160, 160);
}

.img1 {
    background-image: url("img/vegetais.jpg");
    background-size: 100%;
}

.img2 {
    background-image: url("img/decorar-deliciosos-doces-caseiros-com-chocolate-e-amendoim_155003-4397.jpg");
    background-size: 150%;
     background-position: left; 
}

.img3 {
    background-image: url("img/queijo-e-azeitonas_144627-35211.jpg");
    background-size: 100%;
    background-position:bottom;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    text-align: justify;
    padding: 2em
    margin: 2em;
}


/* refatorção -------------------------------------------------- */
body {
    display: flex;
    flex-direction: column;
}
.main {
    
    height: 150vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 12% 1fr;
    grid-template-areas: 
            "welcome welcome welcome"
            "titulo2 titulo2 titulo2"
             "card1 card2 card3";
}

main >p {
    font-size: 1.3em;
}

.welcome {
    grid-area: welcome;
}

.titulo2 {
    grid-area: titulo2;
    align-self: flex-end;
    font-size: 3.5em;
    text-align: center;
    font-weight: 500;
}

.titulo1 {
    font-weight: 550;
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}


.welcome {
    font-size: 4.3em;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("img/brooke-lark-wMzx2nBdeng-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

input {
    width: 60%;
    height: 10%;
    font-size: 0.4em;

    border-radius: 30px;
    border: none;
    display: flex;
    align-self: center;

    outline: none;
    padding: 1em;
}

.btn {
    width: 10%;
    height: 60%;
    border-radius: 20px;
    border: none;
    background-color: #e8f538;
    font-size: 0.3em;
}

.btn:hover {
    outline: none;
    background-color:#b60d0d;
    color: white;
    cursor: pointer;
    
}
