
/* MENU DO HEADER */

.cabeca{
    background-color:#161c2c;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;

    /* alinhar largura e altura com a grid principal */
}


.carro{
    height: 8vh;
    padding-right: 32px;
    padding-top: 8px;
}

.dropbtn-inside{
    background-color:#161c2c;
    color: whitesmoke;
    font-family: 'Barlow Condensed', sans-serif;
    src: url(BARLOWCONDENSED-LIGHT.ttf);
    font-weight:lighter;
    border: none;
    height: 10vh;
    padding: 10px 30px;
    font-size: 1.5em;
    /* alinhar largura e altura com a grid principal */
}

.dropdown-inside:hover 
.dropbtn-inside{
    background-color: #eacf86;
}

.dropdown-content-inside{
    display: none;
    position: absolute;
    background-color: #eacf86;
    font-family: 'Barlow Condensed', sans-serif;
    src: url(BARLOWCONDENSED-LIGHT.ttf);
    font-weight:lighter;
}

.dropdown-inside{
    position: relative;
    display: inline-block;
}

.dropdown-content-inside a{
    color: whitesmoke;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
}

.dropdown-content-inside a:hover{
    background-color:#161c2c;
    color: whitesmoke;
}

.dropdown-inside:hover 
.dropdown-content-inside{
    display: block;
}


.img-carrinho {
    height: 2rem;
}

.logo-menu {
    width: 4.5em;
    margin: 0.3em;
}

.menu-desktop {
    display: flex;
    list-style-type: none;
    padding: 2em;
}

.menu-desktop >li {
    margin: 0 2.1em;
    color: white;
}


/* CONFIGURAÇÕES GERAIS */

* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 200vh;
    width: 100vw;


}

.page1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("img/brooke-lark-wMzx2nBdeng-unsplash.jpg");
    background-size: 100vw;
}

.home {
    height: 95vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.titulo {
    font-size: 3.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #161c2c;
}

.yellow {
    font-size: 3.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #f1ba23;
}

.busca {
    width: 95%;
    height: 3.5em;
    margin: 20px;
    background-color: white;
    opacity: 0.8;
    border-radius: 20px;
    border-color:  #f1ba23;
    font-size: 1.1em;
    padding: 4px;
}

.busca:focus {
    outline: none;
}

.btn {
    width: 15%;
    height: 3rem;
    margin: 20px;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;  
}

.btn:hover{
    background-color: #f1ba23;
}

.block {
    display: block;
}

.center {
    text-align: center;
}

.pad {
    padding: 1em;
}

/* ------------------------------------- DIV DOIS */

.produtos {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    display:flex;
    /* background-color: tomato; */
}

.page2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.card {
    margin: 0 0 3em 0;
}

.c-cards {
    display:flex;
    justify-content: space-evenly;
    /* background-color: tomato; */
    font-family: 'Raleway', sans-serif;
    width: 99vw;
}

.img1, .img2, .img3 {
    margin: 2em;
    box-shadow: 0.5rem 0.5rem 1.2rem rgb(161, 160, 160);
}

.img1 {
    background-image: url("img/vegetais.jpg");
    background-size: 15rem;
    
}

.img2 {
    background-image: url("img/decorar-deliciosos-doces-caseiros-com-chocolate-e-amendoim_155003-4397.jpg");
    background-size: 25rem;
     background-position: left; 
}

.img3 {
    background-image: url("img/queijo-e-azeitonas_144627-35211.jpg");
    background-size: 15rem;
    background-position:bottom;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
   
    text-align: justify;
    padding: 0 3rem 0 3rem;
    /* border: 2px solid yellow; */
}

.card > p {
    margin: 20px;
}
